<beans:beans xmlns="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:beans="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:security="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.0.xsd">

<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<beans:property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <beans:property name="url" value="jdbc:oracle:thin:@//127.0.0.1:1521/xe" />
        <beans:property name="username" value="Project2" />
        <beans:property name="password" value="password" />
 </beans:bean>
<context:component-scan base-package="com.collaboration" />
<beans:bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>               
        <beans:property name="hibernateProperties">
			<beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>               
            </beans:props>
        </beans:property>    
 
<beans:property name="packagesToScan">
           <beans:list><beans:value>com.collaboration</beans:value></beans:list>       
        </beans:property> 
    </beans:bean>

     <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean> 
 <security:http>
    <security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
    <security:intercept-url pattern="/user/**" access="ROLE_USER" />
       <security:form-login
           login-page="/"
           login-processing-url="/j_spring_security_check"
           default-target-url="/home"
           authentication-failure-url="/?error"
           username-parameter="username"  
           password-parameter="password" />
       <security:logout
           logout-success-url="/logout" />
   </security:http>
   <security:authentication-manager>
       <security:authentication-provider>
           <security:jdbc-user-service data-source-ref="dataSource"
                                       users-by-username-query="SELECT username,password,active from users where username=?"
                                       authorities-by-username-query="select username, role from userrole where username =?" />
                                        
       </security:authentication-provider>
   </security:authentication-manager>
      
       
 
 
 </beans:beans>